<div class="container">
<div class="row">
<div class="col-md-5 p-3 p-md-5">
<img class="img-floyd" alt="{{intro.title}}" src="{{intro.image}}"/>
</div>
<div class="col-md-7 p-3 p-md-5">
<h2>{{intro.title}}</h2>
<h3>{{intro.description}}</h3>
{{content|safe}}
</div>
</div>
</div>